/*Боковая тень с нижней обрезкой (на макете вверху есть скругление границы,
а внизу все обрывается, поэтому принудительно задана завышенная высота, чтобы
блок гарантированно "уехал" вниз за пределы экрана при любом разрешении),
также пришлось убирать его на задний план, т.к. он мешал элементам container:
перекрывал ссылки, не давал выделить текст.*/
.sideshadow{
  position: fixed;
  z-index: 0;

  width: 1060px;
  height: 500%;
  margin: 0 154px;

  border-radius: 3px;
  box-shadow: 0 0 6px grey;
}

/*Основной блок, тут пришлось в явном виде прописывать position,
т.к. без него не работает z-index.*/
.container{
  position: relative;
  z-index: 1;

  width: 1060px;
  margin: 0 0 0 154px;
  padding: 50px 44px;

  font: 10pt/16pt OpenSansRegular;
}

/*Размеры и граница блока с логотипом.*/
.logo{
  height: 40px;
  margin-bottom: 40px;
}

/*Блок под меню слева*/
.column_left{
  float: left;

  width: 240px;
  height: 240px;
  margin: 40px 0 0 0;

  border: 1px solid #c8c8c8;
}

/*Все меню верстаем через флекс, в принципе, для вертикального меню
это не обязательно, но пусть будет все унифицировано.*/
.menu{
  display: flex;
}

/*Направление следования элементов: в линию, слева направо.*/
.menu_h{
  flex-direction: row;
  
  width: 964px;
  height: 40px;
}

/*Направление следования элементов: в столбец, сверху вниз.*/
.menu_v{
  flex-direction: column;
}

/*Убираем подчеркивание на всез ссылках в меню*/
.menu a{
  text-decoration: none;
}

.menu_top{
  padding-left: 4px;

  background: linear-gradient(to top, #444343, #5e5e5e);
}

.menu_bottom{
  background: #e1e1e1;
}

.menu_h li{
  display: block;

  width: 100px;
  height: 100%;
}

/*Честно пытался сделать пиксель в пиксель, но равномерными марджинами
это невозможно, сам макет слегка кривой, элементы идут с нерегулярным шагом,
наиболее точное попадание в макет идет при сдвиге первого пункта меню на 4px
(см. паддинг в menu_top) и правой границе пункта меню в 39px и 41px
для верха и низа соответственно.*/
.menu_top li{
  margin: 0 39px 0 0;
}

.menu_bottom li{
  margin: 0 41px 0 0;
}

.menu_top a{
  display: block;

  margin: 10px;

  text-align: center;

  color: white;
  text-shadow: 1px 1px 1px black;

  font: 11pt/12pt OpenSansRegular;
}

/*Подсветка активного элемента*/
.menu_top .active{
  box-sizing: border-box;
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;

  background: linear-gradient(to top, #2e2e2e, #4a4a4a);
}

.menu_bottom a{
  display: block;

  margin: 10px;

  text-align: center;

  color: black;
}

/*Подсветка активного элемента*/
.menu_bottom .active{
  text-decoration: underline;
}

.menu_bottom li:last-child{
  width: 368px;
  margin: 0 auto;
}

.copy_r{
  margin: 10px;

  text-align: right;
}

.menu_left li{
  display: block;

  width: 100%;
  height: 39px;

  border-bottom: 1px solid #c8c8c8;
}

.menu_left li:last-child{
  border-bottom: none;
}

.menu_left a{
  display: block;

  margin: 10px 0 10px 24px;

  color: #656363;
}

/*Подсветка активного элемента*/
.menu_left .active{
  width: 95%;
  padding-left: 12px;

  background: #f9f9f9;
}

.menu_left .active a{
  color: black;
}

.product{
  width: 676px;
  height: 600px;
  margin: 40px 0 40px 288px;
}

/*Уменьшаем блок под размер фото и центрируем паддингами*/
.prod_photo{
  width: 486px;
  height: 292px;
  padding: 54px 96px;

  border: 1px solid #c8c8c8;
}

.prod_desc{
  margin: 34px 14px 40px 24px;
}
