body {
  font: normal 100% Calibri;
}

.wrapper {
  width: 600px;
  margin: 10px auto;
}

#stdin {
  display: block;
  margin: 8px 0 8px 0;
}

h1 {
  padding: 2px;
  font: bold 150% Calibri;
}

.status {
  margin-top: 6px;
  font-weight: bold;
}

#report {
  font-weight: normal;
  color: white;
}

.report-neutral {
  background-color: navy;
}

.report-good {
  background-color: darkgreen;
}

.report-error {
  background-color: red;
}
