body {
  background-color: black;
  color: #e2ab18;
  font: normal 100% trebuchet ms;
  background-image: url(../img/background800.jpg);
  background-position: top;
  background-repeat: no-repeat;
  /*overflow: hidden;*/
}

a {
  color: #189de2;
}

header {
  height: 99px;
}

.header-wrapper {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 150px;
}

.logo-img {
  width: 100%;
}

.menu-wrapper {
  width: 130px;
  margin-top: 6px;
}

.motto {
  font: normal 220% gabriola;
  line-height: 95%;
  text-align: right;
}

.main-menu-desktop {
  display: none;
}

main {
  padding-top: 16px;
}

.main-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-mobile-item {
  width: 300px;
  height: 32px;
  margin: 0 auto 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(249, 77, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(249, 77, 0, 0.6);
}

.menu-mobile-item__text {
  font-size: 130%;
}

a {
  text-decoration: none;
}

.feedback {
  width: 300px;
  margin: 16px auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(249, 77, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rgba(249, 77, 0, 0.6);
}

.feedback__title {
  color: #f94d00;
  text-align: center;
}

.feedback__title-text {
  font: normal 180% gabriola;
}

.feedback__wrapper {
  width: 280px;
  margin: 0 auto 16px auto;
  border-bottom: 1px solid #f94d00;
}

.feedback__wrapper__last {
  border-bottom: none;
}

.feedback-thumb {
  float: left;
}

.feedback-thumb__img {
  width: 24px;
}

.feedback-text {
  margin-left: 42px;
  font-size: 80%;
}

.feedback-author {
  margin-top: -5px;
  text-align: right;
  color: #f94d00;
  font: normal 120% gabriola;
}

footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.footer-text {
  text-align: center;
  font: normal 85% gabriola;
  color: #f94d00;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 3px;
}

@media (min-width: 480px) {

  .header-wrapper {
    padding: 8px 0;
  }

  .logo {
    width: 220px;
  }

  .logo-img {
    width: 80%;
  }

  .menu-wrapper {
    width: 180px;
    margin-top: 4px;
  }

  .motto {
    font-size: 260%;
    line-height: 100%;
  }

  .main-menu-mobile {
    flex-direction: row;
    width: 410px;
    margin: 0 auto;
  }

  .menu-mobile-item {
    width: 120px;
    height: 64px;
  }

  .feedback {
    width: 410px;
  }

  .feedback__title-text {
    font: normal 200% gabriola;
  }

  .feedback__wrapper {
    width: 390px;
    margin: 0 auto 20px auto;
  }

  .feedback-thumb__img {
    width: 30px;
  }

  .feedback-text {
    margin-left: 50px;
    font-size: 100%;
  }

  .feedback-author {
    font-size: 130%;
  }

  footer {
    width: 410px;
  }

  .footer-text {
    font-size: 100%;
  }

}

@media (min-width: 800px) {

  .logo {
    width: 250px;
  }

  .logo-img {
    width: 75%;
  }

  .menu-wrapper {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  .motto {
    font-size: 280%;
  }

  main {
    padding-top: 0;
  }

  .main-menu-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-desktop-item {
    margin-top: -6px;
  }

  .menu-desktop-item__text {
    font-size: 130%;
  }

  .main-menu-mobile {
    display: none;
  }

  .feedback {
    width: 500px;
  }

  .feedback__title-text {
    font: normal 260% gabriola;
  }

  .feedback__wrapper {
    width: 460px;
  }

  .feedback-author {
    font-size: 140%;
  }

  footer {
    width: 500px;
  }

}

@media (min-width: 1280px) {

  header {
    height: 158px;
  }

  .logo {
    width: 300px;
    margin-right: 60px;
  }

  .logo-img {
    width: 100%;
  }

  .menu-wrapper {
    width: 550px;
  }

  .motto {
    font-size: 400%;
  }

  .menu-desktop-item__text {
    font-size: 160%;
  }

  body {
    background-image: url(../img/background1280.jpg);
  }

  main {
    width: 900px;
    margin: 0 auto;
  }

  .feedback {
    width: 500px;
    margin: 30px 0 0 0;
  }

  .feedback__wrapper {
    width: 480px;
  }

  footer {
    width: 900px;
    text-align: right;
  }

}

@media (min-width: 1600px) {

  header {
    height: 198px;
  }

  .logo {
    width: 400px;
  }

  .menu-wrapper {
    width: 600px;
  }

  .motto {
    font-size: 550%;
  }

  .menu-desktop-item__text {
    font-size: 180%;
  }

  body {
    background-image: url(../img/background1600.jpg);
  }

  main {
    width: 1030px;
  }

  .feedback {
    width: 600px;
  }

  .feedback__wrapper {
    width: 560px;
  }

  footer {
    width: 1030px;
  }

}

@media (min-width: 1920px) {

  header {
    height: 227px;
    margin-top: 10px;
  }

  body {
    background-image: url(../img/background1920.jpg);
  }

}

@media (min-width: 2560px) {

  header {
    height: 286px;
    margin-top: 50px;
  }

  body {
    background-image: url(../img/background.jpg);
  }

}

}
